@model MegaCinema.Web.ViewModels.Ticket.TicketViewModel;


    <div class="row">
        <p>Movie: @Model.Movie.Title</p>
        <p>Projection Day: @Model.StartTime.ToShortDateString()</p>
        <p>Projection Time: @Model.StartTime.ToShortTimeString()</p>
        
        <form></form>
    </div>