@{
    this.ViewData["Title"] = "Lobby";
}

<style type="text/css">

    body {
        background-image: url(https://i.imgur.com/c6Cbc7j.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
        font-family: calibri;
        border-radius: 10px;
    }
</style>

<body style="background-color:dimgray;">
    <div class="p-5 mb-2 bg-dark text-black-50">

        <div>
            <style>
                img {
                    float: left;
                }
            </style>

            <h2 class="text-white">Our theater lobby's offer something for everyone!</h2>

            <p class="text-white">
                <img src="https://i.imgur.com/VJFyHMr.jpg" alt="Hall seats" style="float:left; width:50%;height:50%;margin-right:15px;">
                Indulge in a slice of freshly baked Famous Famiglia® pizza. Enjoy a Nathan's
                Famous hot dog, cheeseburger or signature cheese fries. Ben & Jerry's™ ice
                cream is available in a dish or freshly baked waffle cone, or try one of their
                signature frozen drinks. You can sip a premium cup of coffee, latte, or
                cappuccino anytime. Be sure to show your server your Starpass card to earn
                10% back on virtually every purchase. (Menu offering may vary slightly by
                location. Ben & Jerry's ice cream is not available at all our cinemas.)


            </p>

        </div>

        <br />
        <br />
        <br />

        <div>
            <style>
                img {
                    float: right;
                }
            </style>
            <h2 class="text-white"> Popcorn, nachos, movie candy, and soft drinks. </h2>

            <p class="text-white">
                <img src="https://i.imgur.com/wqZRsQh.jpg" alt="Screen" style="width:50%;height:50%;margin-left:15px;">
                At Mega Cinema we are proud to offer a wide variety of classic movie concessions
                to perfectly complement your movie. From popcorn to nachos, premium candy to hot
                dogs, signature ice drinks to classic Coke soft drinks, we have it all.
            </p>

        </div>

        <br /> <br /> <br /> <br />

        <div>
            @*<style>
                    img {
                        float: right;
                    }
                </style>*@
            <h2 class="text-white">Lobby Bar </h2>

            <p class="text-white">
                <img src="https://i.imgur.com/n7liDC6.jpg" alt="Screen" style="float: left; width:50%;height:50%;margin-right:15px;">
                Bring Your Drinks to Your Seat!
                Try our Signature Cocktails, Hand-shaken Mojito,
                Mango Margarita and Ultra-Premium Margaritas. Draft
                Beer and wine are also available to enjoy during the movie.
            </p>

            <br /> <br />  <br /> <br />
        </div>

    </div>

</body>