@{
    this.ViewData["Title"] = "Our Halls";
}



<body style="background-color:dimgray;">
    <div class="p-5 mb-2 bg-dark text-black-50">

        <div>
            <style>
                img {
                    float: left;
                }
            </style>

            <h2 class="text-white">Reserve, Recline, Relax</h2>

            <p class="text-white">
                <img src="https://i.imgur.com/v712Kzh.jpg" alt="Hall seats" style="float:left; width:70%;height:70%;margin-right:15px;">
                Sit back, relax, and enjoy the latest movies from the comfort of an ultra plush power-operated
                fully reclining seat! Plus, reserve your seat at the time of purchase to make your trip to
                the cinema even more enjoyable!
            </p>

        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div>
            <style>
                img {
                    float: right;
                }
            </style>
            <h2 class="text-white">We have the biggest screens and the latest technologies for all of our cinema halls</h2>

            <p class="text-white">
                <img src="https://i.pinimg.com/originals/62/1b/91/621b91221c1130582a5bae406b0baa6c.jpg" alt="Screen" style="width:426px;height:210px;margin-left:15px;">
                Shaw Theatres nex is the state-of-the-art cineplex in Shaw's stable of theatres. With the latest cinema technology and a total seating capacity of more than 1,265 in all ten halls, you can be sure of a fantastic movie experience.
                It has the most number of 3D digital halls at one location, premium halls at a suburban district, 3D digital technology for premium halls and dedicated in-cinema lift for the handicapped.Shaw Theatres nex is located at the 4th & 5th storey of nex - The biggest mall in the North East of Singapore – set to transform the Serangoon streetscape.
                At nex,Shaw Theatres will also introduce the "Premiere Screen" concept, allowing consumers to enjoy a premium cinematic experience. With deluxe leather seats and premium dine-in services within a cosy 48-seaters hall, the Premiere Screen halls at nex will bring an element of luxury to the doorstep of suburban residents.
                Targeting a discerning audience, Premiere Screen will be the first premium hall to feature 3D digital technology. Details on the two Premiere Screen halls at nex will be announced at a later date..
            </p>

        </div>

        <br />

        <div>
            @*<style>
                img {
                    float: right;
                }
            </style>*@
            <h2 class="text-white">Each hall has it's own individuality, style and design </h2>

            <p class="text-white">
                <img src="https://i.imgur.com/KezjvXK.jpg" alt="Screen" style="float: left; width:480px;height:250px;margin-right:15px;">
                Recently, the 5 cinema complex of MegaCinema has the most advanced equipment 
                of the cinema system in the country  with suround sound system from Spain, USA and German 
                kinoton projector. In the projection room, in front of the screen equivalent to 400 inches 
                and the multi-dimensional sound, the audience is immersed in a real space of the movie. 
                Tha halls are located right on the 3rd floor of the mall, the largest shopping center 
                in the city, so it is very easy to find.

                The theater is located in the city center, very crowded on Wednesdays or weekends. It has 
                luxurious space, modern and spacious. The lobby is designed in a modern style, which is 
                not often seen in the CGV system. However, MegaCinema still has no 4DX projection 
                room and sweet box seats.
            </p>

        </div>

    </div>

</body>