@{
    this.ViewData["Title"] = "Technologies";
}



<body style="background-color:dimgray;">
    <div class="p-5 mb-2 bg-dark text-black-50">

        <div>
            <style>
                img {
                    float: left;
                }
            </style>

            <h2 class="text-white">The IMAX Experience</h2>

            <p class="text-white">
                <img src="https://i.imgur.com/oYSNhYv.jpg" alt="Hall seats" style="float:left; width:50%;height:50%;margin-right:15px;">
                Through IMAX technology, your senses are almost overwhelmed by sight and sound. The larger-than-life
                Grand Canyon IMAX Experience brings reality to life on a screen over six stories high.
                With 12,000 watts of floor shaking digital surround sound, you’ll feel like you’re there.
                Whether it’s hang-gliding through the majestic Grand Canyon in Vistor Center, AZ,
                shooting the mighty Colorado River rapids, scaling the top of Mount Everest or speeding
                around the Indy track at 230 miles per hour, IMAX films are guaranteed to take you
                places you’ve never been before.
                The IMAX Experience is as unique and powerful as the technology behind it. 
                With images of immense size and striking clarity, sound so clear and deep 
                you can feel it. Giant screens that immerse you in new worlds, and specially 
                designed theatres that transport you there. Only IMAX state-of-the-art technology 
                creates The IMAX Experience.
            </p>

        </div>

        <br />
        <br />
        <br />

        <div>
            <style>
                img {
                    float: right;
                }
            </style>
            <h2 class="text-white"> What is Dolby Atmos </h2>

            <p class="text-white">
                <img src="https://i.imgur.com/yvLA65X.jpg" alt="Screen" style="width:60%;height:60%;margin-left:15px;">
                Dolby Atmos is a new sound technology developed in 2012 by Dolby, the new technology
                expands the 5.1 and 7.1 previous setups into more speakers placed all around the room
                to create an all-surrounding 3D-sound experience. Basically, Atmos is the latest way
                to get surrounded by sound, one of the main benefits of this new technology is that
                it can work with as many or as few speakers as you have.
                With Dolby Atmos, and surrounding sound systems, filmmakers don’t deal with channels anymore, 
                instead, they treat the sound as an object, for example in the picture below, when 
                the characters look to the left corner of the room, which is the source of the sound, 
                the audience will hear the sound from this left corner
            </p>

        </div>

        <br />

        <div>
            @*<style>
            img {
                float: right;
            }
        </style>*@
            <h2 class="text-white">The new 4DX Technologies </h2>

            <p class="text-white">
                <img src="https://i.imgur.com/ssl9w6W.jpg" alt="Screen" style="float: left; width:50%;height:50%;margin-right:15px;">
                If you’re looking for a more extreme way to view your most anticipated movies,
                then 4DX could be just the thing you’ve always wanted. The newest craze in
                film-viewing, 4DX puts customers right into the middle of the action in their
                favorite flicks through the use of a technology that utilizes seat movement
                and sensory effects inside the auditorium, which are synched to the action
                onscreen. America’s first theater utilizing the tech opened this past June,
                and early results show it’s a huge hit with patrons.
            </p>

            <br /> <br />  <br /> <br />
        </div>

    </div>

</body>