<!-- Navigation -->
<link href="~/css/Test.css" rel="stylesheet" type="text/css" />
@model IndexAllMoviesViewModel
@using MegaCinema.Common
@using MegaCinema.Web.ViewModels.Home;

<!-- Page Content -->

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light">
                Mega Cinema - Best theater in your city
            </h1>
            <div style="height: 400px"></div>
            <p class="lead mb-0">You've reached the end!</p>
        </div>
    </div>
</div>
