
<html lang="en">
<head>
    @*<title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        p {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

    </style>
</head>
<body>

    <div id="demo" class="carousel slide text-white" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1" class="active"></li>
            <li data-target="#demo" data-slide-to="2" class="active"></li>
            <li data-target="#demo" data-slide-to="3" class="active"></li>
        </ul>
        <div class="carousel-inner text-white">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/ZZ6SfzN.jpg" alt="Wonder Woman 1984" width="1100" height="500">
                <div class="carousel-caption">
                    <h3 class="text">Wonder Woman 1984</h3>
                    <p class="text-white">Back to the good old days</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/RQTmrYe.jpg" alt="Tenet" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Tenet</h3>
                    <p class="text-white">Spy feuds have repeatedly turned agents of intelligence services, 
                    who came undercover in a foreign country into real enemies</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/JH0A8N8.jpg" alt="Free guy " width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Free Guy </h3>
                    <p class="text-white">
                        A bank teller discovers that he's actually super hero in a video game.
                       
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://i.imgur.com/bFgWGCj.png" alt="Top Gun Maverick" width="1100" height="500">
                <div class="carousel-caption">
                    <h3> Top Gun Maverick </h3>
                    <p class="text-white">
                        After more than thirty years of service as one of the Navy's top aviators, 
                        Pete Mitchell is where he belongs.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</body>
</html>