@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<body>

    <style type="text/css">

        body {
            background-image: url(https://flashwallpapers.com/ws/1/31111.jpg);
            background-size: cover;
            background-attachment: fixed;
        }

        .content {
            background: white;
            width: 50%;
            padding: 40px;
            margin: 100px auto;
            font-family: calibri;
            border-radius: 10px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>

</body>