@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<style type="text/css">

            body {
                background-image: url("https://i.imgur.com/CTlhvpY.jpg");
                background-size: cover;
                background-attachment: fixed;
            }

            .content {
                background: white;
                width: 50%;
                padding: 40px;
                margin: 100px auto;
                font-family: calibri;
                border-radius: 10px;
            }

            p {
                font-size: 18px;
                color: white;
            }
        </style>

    <body  style="background-color:dimgray;">

        <div class="p-5 mb-4 bg-dark text-white">

            <h1>@ViewData["Title"]</h1>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <section>
                        <form id="account" method="post">
                            <h4>Please use your e-mail and password to log in.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </body>*@

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<style>
    body {
        background-image: url("https://i.imgur.com/CTlhvpY.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
        font-family: calibri;
        border-radius: 10px;
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label asp-for="Input.Email">Email:</label><br>
                                <input input asp-for="Input.Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password">Password:</label><br>
                                <input asp-for="Input.Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br /> <br />
    </div>
    <br /> <br /> 
</body>

<br />
<br />
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
